<html>
	<head>
		<title>AIDR - Dashboard</title>
		<script src="resources/js/angular.min.js"></script>
		<script src="resources/js/angular-animate.min.js"></script>
		<script src="resources/js/angular-route.min.js"></script>
		<script src="resources/js/angular-resource.min.js"></script>
		<script src="resources/js/ui-bootstrap-tpls.min.js"></script>
		<script src="resources/js/DataApp.js"></script>
		<script type="text/javascript" src="resources/js/angular-toastr.tpls.min.js"></script>
		<link rel="stylesheet" href="resources/css/bootstrap.min.css">
		<link rel="stylesheet" href="resources/css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="resources/css/angular-toastr.min.css" />
		
	</head>
	<body ng-app="DataApp" ng-controller="appCtrl" style="overflow: auto">
		<div class="headerWrapper">
        	<div class="header">
        		<a href="http://aidr.qcri.org"><img src="resources/img/AIDR/aidr_logo_240x90.png"></a>
   				     		
					<form class="form-search form-inline">
			       		<input type="text" class="search-query" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
			     	</form>
				
        	
        </div>
        <div ng-hide="flag" id="loading">
        </div>
		<div ng-show="flag" class="col-md-12">
  		<div id="myDiv">
			<div class="col-md-4" ng-repeat="letter in pagedItems track by $index">
			<div class="list-group" >
				<div class="list-group-item active" >
					{{letter.name| limitTo: 35 }}{{letter.name.length > 35 ? '...' : ''}}</div>
				<div class="list-group-item1">
					<b>Tweets</b><img id="twitter" src="resources/img/twitter_icon3.png"/>
					<span id="lang" ng-if="letter.status == 'RUNNING'"><span class="pull-right">{{letter.totalCount}}<img id="count" src="resources/img/arrow-up.png" style="margin-top: -2px"/></span></span>
					<span id="lang" ng-if="letter.status !== 'RUNNING'"><span class="pull-right">{{letter.totalCount}}</span></span>					
				</div>
				<div class="list-group-item">
					<b>Languages</b>
					<p class="text-right" id="lang"><span>{{letter.language | limitTo: 20 }}{{letter.language.length > 20 ? '...' : ''}}</span></p>
				</div>
				<div class="list-group-item" >
					<b>Status</b>
					<p class="text-right" id="status"><span  ng-style="letter.status === 'RUNNING' && {'background-color' : '#41B6B0'} || 
                 letter.status === 'STOPPED' && {'background' : '#A80000'}">{{letter.status}}</span></p> 
				</div>				
				<div class="list-group-item" ng-if="letter.status == 'RUNNING'">
					<span class="col-md-12" style="font-size: 11px; text-align: center">
						<img width="17" height="17" id="clock" src="resources/img/fa-clock-o_20_0_41b6b0_none.png"/><b>Running Since {{letter.startDate| date:'medium'}}</b>
					</span>
					<!-- <p id="date"><span style="margin-left:70px"><img width="17" height="17" id="clock" src="resources/img/fa-clock-o_20_0_41b6b0_none.png"/><b>Running Since {{letter.startDate| date:'medium'  }}</b></span></p> -->
				</div>

				<div class="list-group-item" ng-if="letter.status !== 'RUNNING'">
					<span class="col-md-12" style="font-size: 11px; text-align: center">
						<img width="17" height="17" id="clock" src="resources/img/fa-clock-o_20_0_41b6b0_none.png"/><b>{{letter.startDate| date:'medium'  }}</b> to <b>{{letter.endDate| date:'medium'  }}</b>
					</span>
					<!-- <p id="date"><span style="margin-left:40px"><img width="17" height="17" id="clock" src="resources/img/fa-clock-o_20_0_41b6b0_none.png"/><b>{{letter.startDate| date:'medium'  }}</b> to <b>{{letter.endDate| date:'medium'  }}</b></span></p> -->
				</div>
				<div class="list-group-item last">
					<input type="submit" ng-click="open(letter)" value="Details" class="btn btn-block" />
				</div>
			</div>
		</div>
		</div>
	</div>
	<pagination ng-show="flag" boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
		<div class="footer navbar-fixed-bottom" id="footer">
        	<div class="footer">
        		<div class="right">
    	    		<a href="http://www.qcri.qa/">A project by <img align="middle" src="resources/img/qcri-gray-horiz.png"/></a>
        		</div>
		        <div class="left">
	    	    	<a href="http://aidr.qcri.org/r/tos/">Terms of Service</a>
	        		<a href="http://aidr.qcri.org/r/manual">Help</a>
	        		<a href="http://aidr.qcri.org/r/credits">Credits</a>
	        	</div>
        	</div>
        </div>
    </div>
     <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button> 
            <h3 class="modal-title">{{collection.name}}</h3>
        </div>
        <div class="modal-body" >
            <b>Total Collected Tweets:</b> <p class="text-right"> {{collection.totalCount}}</p>
        </div>
        <div class="modal-body" >
           <b>Status:</b> <p class="text-right"> {{collection.status}}</p>
        </div>
         <div class="modal-body" >
           
           <b>Created:</b> <p class="text-right">{{collection.collectionCreationDate| date:'medium'}}</p>
        </div>
         <div class="modal-body" >
           <b>Last Stopped:</b> <p class="text-right">{{collection.endDate| date:'medium'}}</p>
        </div>
         <div class="modal-body" >
           <b>Language:</b>  <p class="text-right">{{collection.language}}</p>
        </div>
        <div class="modal-body">
			<div class="col-md-2">
				<b>Keywords:</b>
			</div>
			<div class="col-md-10" style="text-align: right">
				{{collection.keywords}}
			</div>
           <!-- <b>Keywords:</b> <p class="text-right" id="key">{{collection.keywords}}</p> -->
        </div>
         <div class="modal-body" >
           <b>Curator:</b> <p class="text-right">{{collection.curator}}</p>
        </div>
        <div class="modal-body">
            <!--<button ng-show = "busy" ng-disabled="busy" ng-click="downloadTweets()" class="btn btn-primary center-block">Download 50000 sample tweets <i class="fa fa-spinner fa-spin"></i></button>-->
			<button disabled class="btn btn-primary center-block">Download 50000 sample tweets</button>
            <h5 class="text-center">* Contact AIDR team for full data.</h5>
        </div>
    </script>
	</body>
</html>