<html>
	<head>
		<title>AIDR - Dashboard</title>
		<script src="resources/js/angular.min.js"></script>
		<script src="resources/js/angular-animate.min.js"></script>
		<script src="resources/js/angular-route.min.js"></script>
		<script src="resources/js/angular-resource.min.js"></script>
		<script src="resources/js/ui-bootstrap-tpls.min.js"></script>				
		<script src="resources/js/DataApp.js"></script>
		<script type="text/javascript" src="resources/js/angular-toastr.tpls.min.js"></script>
		<link rel="stylesheet" href="resources/css/bootstrap.min.css">
		<link rel="stylesheet" href="resources/css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="resources/css/angular-toastr.min.css" />
		<link rel="shortcut icon" type="image/ico" href="resources/img/AIDR/icons/aidr_logo_30h.png" />
		
	</head>
	<body ng-app="DataApp" ng-controller="appCtrl" style="overflow: auto">
		<div class="wrap">
			<div class="headerWrapper">
	        	<div class="header">
	        		<div class="col-md-2 col-xs-2" style="padding-left: 55px; margin-top: -6px" tooltip-placement="right" uib-tooltip="ARTIFICIAL INTELLIGENCE FOR DISASTER RESPONSE">
	        			<a href="http://aidr.qcri.org" class="pull-left">
	        				<img src="resources/img/aidr_logo_50h.png">			
	        			</a>        			
	        		</div>
	        		<!-- <div class="col-md-1 col-xs-1 aidr_text_logo" tooltip-placement="right" uib-tooltip="ARTIFICIAL INTELLIGENCE FOR DISASTER RESPONSE">
	        			<span>AIDR</span>
	        		</div> -->
	        		<div class="col-md-6 col-xs-3">        			
	        		</div>
	        		<div class="col-md-2 col-xs-4">
	        			<div class="input-group" style="">
						  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
						  <input type="text" class="form-control" placeholder="Search collection" aria-describedby="basic-addon1" ng-model="search" ng-change="figureOutItemsToDisplay()" >
						</div>	
	        		</div>
	        		<div class="col-md-2 col-xs-3">
	        			<div class="btn-group" uib-dropdown dropdown-append-to-body>
					      <!-- <button id="btn-append-to-body" type="button" class="btn btn-default btn-lg" uib-dropdown-toggle style="margin-top: 45px">
					        <i class="fa fa-bars"></i> 
					      </button> -->
					      <div class="dropdown-toggle" uib-dropdown-toggle style="cursor: pointer; color: white">				      	      	
					      	<img ng-src="{{profile.profile_pic}}" height="32" width="32" style="border-radius: 4px">
					      	<b>{{profile.name}}</b>
					      	<i class="fa fa-caret-down"></i>
					      </div>
					      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="btn-append-to-body" style="margin-left: -12px;">
					        <li role="menuitem" ng-click="openProfile(letter)"><a href><i class="fa fa-user"></i> Profile</a></li>
					        <li class="divider"></li>
					        <li role="menuitem"><a href="logout"><i class="fa fa-sign-out"></i> Logout</a></li>
					      </ul>
					    </div>        			
	        		</div>
					<!-- <form class="form-search form-inline">
						<a href="logout" class="btn btn-default btn-sm" style="margin-top:-81px;margin-left: 54%">
				          <span class="fa fa-sign-out"></span> Log out
				        </a>
				        <br/>
			       		<input type="text" class="search-query" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
			     	</form> -->
			     	
		        </div>
	        </div>
	        <div ng-hide="flag" id="loading">
	        </div>
			<div ng-show="flag" class="col-md-12">
	  			<div id="myDiv">
					<div class="col-md-4" ng-repeat="letter in pagedItems track by $index">
					<div class="list-group" >
						<div class="list-group-item active" >
							{{letter.name| limitTo: 35 }}{{letter.name.length > 35 ? '...' : ''}}</div>
						<div class="list-group-item1">
							<b>Feeds</b> 
							<img id="twitter" style="height:20px" src="resources/img/twitter-circular-icon.png" ng-show="letter.provider == 'Twitter'" />
							<img id="facebook" style="height:20px" src="resources/img/facebook-circular-icon.png" ng-show="letter.provider == 'Facebook'" />
							<span id="lang" ng-if="letter.status == 'RUNNING'"><span class="pull-right">{{letter.totalCount}}<img id="count" src="resources/img/arrow-up.png" style="margin-top: -2px"/></span></span>
							<span id="lang" ng-if="letter.status !== 'RUNNING'"><span class="pull-right">{{letter.totalCount}}</span></span>					
						</div>
						<div class="list-group-item">
							<b>Languages</b>
							<p class="text-right" id="lang"><span>{{letter.language | limitTo: 20 }}{{letter.language.length > 20 ? '...' : ''}}</span></p>
						</div>
						<div class="list-group-item" >
							<b>Status</b>
							<p class="text-right" id="status"><span  ng-style="letter.status === 'RUNNING' && {'background-color' : '#41B6B0'} || 
		                 letter.status === 'STOPPED' && {'background' : '#A80000'}">{{letter.status}}</span></p> 
						</div>				
						<div class="list-group-item" ng-if="letter.status == 'RUNNING'">
							<span class="col-md-12" style="font-size: 11px; text-align: center">
								<img width="17" height="17" id="clock" src="resources/img/fa-clock-o_20_0_41b6b0_none.png"/><b>Running Since {{letter.startDate| date:'medium'}}</b>
							</span>
							<!-- <p id="date"><span style="margin-left:70px"><img width="17" height="17" id="clock" src="resources/img/fa-clock-o_20_0_41b6b0_none.png"/><b>Running Since {{letter.startDate| date:'medium'  }}</b></span></p> -->
						</div>
		
						<div class="list-group-item" ng-if="letter.status !== 'RUNNING'">
							<span class="col-md-12" style="font-size: 11px; text-align: center">
								<img width="17" height="17" id="clock" src="resources/img/fa-clock-o_20_0_41b6b0_none.png"/><b>{{letter.startDate| date:'medium'  }}</b> to <b>{{letter.endDate| date:'medium'  }}</b>
							</span>
							<!-- <p id="date"><span style="margin-left:40px"><img width="17" height="17" id="clock" src="resources/img/fa-clock-o_20_0_41b6b0_none.png"/><b>{{letter.startDate| date:'medium'  }}</b> to <b>{{letter.endDate| date:'medium'  }}</b></span></p> -->
						</div>
						<div class="list-group-item last">
							<input type="submit" ng-click="open(letter)" value="Details" class="btn btn-block" />
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()">
		</pagination>
		
		<div style="height:90px"></div>
	</div>
	
    <div class="footer navbar-fixed-bottom" id="footer">
      	<div class="footer">
      		<div class="right">
  	    		<a href="http://www.qcri.qa/">
  	    		<span style="position: absolute;margin-top: 15px;right: 120px;">A project by</span>
  	    		<img align="middle" src="resources/img/qcri_75x60.png"/></a>
      		</div>
	        <div class="left">
	   	    	<a href="resources/QSS-Usr-Agr-Print-Version.docx.pdf" target="_blank">Terms of Service</a>
	       		<a href="http://aidr.qcri.org/r/manual">Help</a>
	       		<a href="http://aidr.qcri.org/r/credits">Credits</a>
	       	</div>
      	</div>
    </div>
    
	
	<script type="text/ng-template" id="terms.html">
        <div class="modal-header" style="background-color: white">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">User Agreement</h4>
	      </div>
	      <div class="modal-body">
	        <iframe src="https://drive.google.com/a/metacube.com/file/d/0Bzst6Nh0RVDHby0tejdBUFp6anc/preview" width="100%" height="300"></iframe>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" ng-hide="busy" ng-disabled="busy" ng-click="downloadTweets()">Agree & Download</button>
			<button type="button" class="btn btn-default" ng-show="busy" ng-disabled="busy" ng-click="downloadTweets()">Agree & Download <i class="fa fa-spinner fa-spin"></i></button>
	        <button type="button" class="btn btn-danger" ng-click="cancel()">Disagree</button>
	      </div>
    </script>
    
     <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button> 
            <h3 class="modal-title">{{collection.name}}</h3>
        </div>
        <div class="modal-body" >
            <b>Total Collected Feeds:</b> <p class="text-right"> {{collection.totalCount}}</p>
        </div>
        <div class="modal-body" >
           <b>Status:</b> <p class="text-right"> {{collection.status}}</p>
        </div>
         <div class="modal-body" >
           
           <b>Created:</b> <p class="text-right">{{collection.collectionCreationDate| date:'medium'}}</p>
        </div>
         <div class="modal-body" >
           <b>Last Stopped:</b> <p class="text-right">{{collection.endDate| date:'medium'}}</p>
        </div>
         <div class="modal-body" >
           <b>Language:</b>  <p class="text-right">{{collection.language}}</p>
        </div>
        <div class="modal-body">
			<div class="col-md-2">
				<b>Keywords:</b>
			</div>
			<div class="col-md-10" style="text-align: right">
				{{collection.keywords}}
			</div>
        </div>
         <div class="modal-body" >
           <b>Curator:</b> <p class="text-right">{{splittedName}}</p>
        </div>
        <div class="modal-body">
			<button ng-hide="busy" ng-disabled="busy" ng-click="openTerms(collection)" class="btn btn-primary center-block">Download 50000 sample feeds </button>
            <button ng-show="busy" ng-disabled="busy" ng-click="downloadTweets()" class="btn btn-primary center-block">Download 50000 sample feeds <i class="fa fa-spinner fa-spin"></i></button>
            <h5 class="text-center">* Contact AIDR team for full data.</h5>
        </div>
    </script>
    <script type="text/ng-template" id="profile.html">
        <div class="modal-header" style="background-color: white">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Profile</h4>
	      </div>
	      <div class="modal-body">
			<form ng-submit="updateProfile()">
			<div class="row">
				<span class="col-md-12">
					<button type="button" ng-show="!isEditMode" class="btn btn-link pull-right" ng-click="setIsEditMode(true)" style="outline:none;">
    	              <span class="fa fa-pencil"></span> Edit
	                </button>
					<button type="button" ng-show="isEditMode" class="btn btn-link pull-right" ng-click="setIsEditMode(false)" style="outline:none;">
    	              <span class="fa fa-times"></span> Cancel
	                </button>
					<button type="submit" ng-show="isEditMode" class="btn btn-link pull-right" ng-click="setIsEditMode(true)" style="outline:none;">
    	              <span class="fa fa-save"></span> Save
	                </button>					
				</span>
			</div>	
	        <div class="row">
				<label class="col-md-3" style="text-align: right">Name</label>
				<span class="col-md-6">
					<span>{{profile.name}}</span>
				</span>
			</div>
			<div class="row">
				<label class="col-md-3" style="text-align: right">Email</label>
				<span class="col-md-6">
					<span ng-show="!isEditMode">{{profile.email}}</span>
					<span ng-show="isEditMode"><input type="email" class="form-control" ng-model="tempProfile.email" /></span>
				</span>
			</div>
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
	      </div>
    </script>
    
    
    
	</body>
</html>