<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>qa.qcri.aidr.output</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
   <servlet-name>AIDROutput JAX-RS Servlet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
    	<param-name>com.sun.jersey.config.property.packages</param-name>
      	<param-value>qa.qcri.aidr.output.getdata</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
   <servlet-name>AIDROutputPing</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
    	<param-name>com.sun.jersey.config.property.packages</param-name>
      	<param-value>qa.qcri.aidr.output.utils</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
 </servlet>
 
  <servlet>
    <servlet-name>AIDROutputStream</servlet-name>
    <servlet-class>qa.qcri.aidr.output.stream.RedisHTTPStreaming</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AIDROutputStream</servlet-name>
  	<url-pattern>/crisis/stream/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>AIDROutputPing</servlet-name>
  	<url-pattern>/rest/manage/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AIDROutput JAX-RS Servlet</servlet-name>
    <url-pattern>/rest/crisis/fetch/*</url-pattern>
  </servlet-mapping>
  
  <listener>
		<listener-class>qa.qcri.aidr.output.getdata.GetBufferedAIDRData</listener-class>
	</listener>
</web-app>