<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/var/log/aidr/aidr-tagger.log"/>
        <param name="MaxBackupIndex" value="100"/>
        <param name="MaxFileSize" value="30MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t][%C][%M] - %m%n"/>
        </layout>
    </appender>
    <root>
        <level value="${LOG_LEVEL}"/>
        <appender-ref ref="file"/>
    </root>
</log4j:configuration>