body {
    font-family: "Ubuntu", "Lucida Sans Unicode", "Lucida Grande", "Arial";
}

.headeraidrlogo {
    margin-top: 20px;
    border-radius: 0px;
    padding: 8px;
    background: none;
}

.headerWrapper{
    height: 120px;
    width: auto;
    margin: 0;
    padding: 0;
    background: #00a79d;
}

.header{
    margin: 0 auto;
    padding: 0;
    width: 980px;
    height: 120px;
}


.site-footer{
    background-color: #464646;
    height: 120px;
    width: auto;
    margin: 0;
    padding: 0;
}

.site-footer .footer {
    width: 980px;
    margin: 0 auto;
    font-size: 0.8em;
    color: white;
    text-align: right;
}

.ui-content.ui-body-c
{
    margin: 0 auto;
    padding: 0;
    width: 1008px;
    min-height: 450px;

}

ui-icon-myapp-starthere {
    background-image: url("../../image/starthere.png") !important;
    background-repeat: no-repeat;
}


#page{
    background: url("../../image/aidr-bg-clouds.jpg") no-repeat;
}
p.big {
    line-height:140%;
}






