<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="qa.qcri.aidr.analysis.entity.TagData"/>
        <mapping class="qa.qcri.aidr.analysis.entity.FrequencyData"/>
    </session-factory>
</hibernate-configuration>