<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>qa.qcri.aidr.collector</display-name>
    <welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
    <!-- servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet -->
    
    <!--  servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping -->
<!--    <listener>
    <listener-class>qa.qcri.aidr.fetcher.init.InitNDestroyTomcat</listener-class>
    </listener>-->
    
    <!--  servlet>
		<servlet-name>qa.qcri.aidr.collector.global.ApplicationConfig</servlet-name>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>qa.qcri.aidr.collector.global.ApplicationConfig</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping -->
	
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
